<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello gulp</title>
	<link href="css/style.min.css" type="text/css" rel="stylesheet">
	<link href="css/t1.min.css" type="text/css" rel="stylesheet">
	<script src="js/main.min.js"></script>
	<script src="js/t1.min.js"></script>
</head>
<body>
<h1 class="title">Hello world</h1>
<p>I would like to say: </p>
<div class="row">
	<div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
	<div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
</div>
</body>
</html>